/* ---------- COLORS ---------- */

$white-color: #FFFFFF;
$isabeline-color: #F2E9E4;
$silver-pink-color: #C9ADA7;
$heliotrope-gray-color: #9A8C98;
$independence-color: #4A4E69;
$space-cadet-color: #22223B;
$black-color: #000000;