/* --- PROJECTS --- */

#projects {
    margin: 3em 0;
}

.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 3em;
    @include large {
        flex-direction: row;
        justify-content: space-around;
    }
}

.project-card {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin: 1em;
}

.project-img {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin: 0 0 1em 0;
    transition: transform .2s;
}

.project-img:hover {
    transform: scale(1.08);
}

.gtmetrix-link {
    text-decoration-line: none;
}

.gtmetrix-link:hover {
    color: $heliotrope-gray-color;
}

.tech-group, .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 1em 0;
    @include pixel2 {
        flex-wrap: wrap;
        row-gap: 0.5em;
        margin: 0 0;
    }
}

.tech-box {
    border: 1.5px solid $heliotrope-gray-color;
    border-radius: .25rem;
    background-color: $white-color;
    color: $heliotrope-gray-color;
    padding: 6px 12px;
    font-size: 10px;
    cursor: pointer;
    margin: 0 0.5em;
}

.tech-div, .btn-click {
    border-color: $heliotrope-gray-color;
}

.tech-div:hover {
    background-color: $heliotrope-gray-color;
    color: $white-color;
}

.btn {
    border: 1.5px solid $space-cadet-color;
    background-color: $white-color;
    color: $space-cadet-color;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.btn-click:hover {
    background-color: $independence-color;
    color: $white-color;
}